.inbox-container {
    width: calc(100%-200px);
    height: 100vh;
}

td {
    padding: 20px;
}

.input-elements {
    padding: 10px;
    color: black;

}

th {
    padding: 20px;
    color: black;
}

td {
    font-size: 15px;
    border-bottom: 1px solid purple;
    border-left: none;
    border-right: none;
}

th {
    background-color: purple;
    color: white;
}

th:hover {
    background-color: #e9c4f5;
    color: purple;
}