<div class="text-secondary text-center">
    <table class="border">
        <tr class="table-head">
            <th scope="col" class="col-1">Select</th>
            <th scope="col" class="col-3">Author</th>
            <th scope="col" class="col-3">Subject</th>
            <th scope="col" class="col-4">Message</th>
            <th scope="col" class="col-4">Time</th>
        </tr>
        <tr *ngFor="let sentDat of sentDataArray ">
            <td class="col-1"><input class="check-box" type="checkbox"></td>
            <td class="col-3">{{sentDat.to}}</td>
            <td class="col-3">{{sentDat.subject}}</td>
            <td class="col-4">{{sentDat.message}}</td>
            <td class="col-4">{{sentDat.time}}</td>
        </tr>
    </table>
</div>