 .header {
 	background-color: purple;
 	height: 70px;

 }


 mat-sidenav-container {
 	height: calc(205vh - 115vh);
 	background-color: white;
 }

 mat-sidenav {
 	width: 200px;
 	background-color: #e9c4f5;
 }

 p-dialog {
 	padding-right: 50px;
 }

 .input {
 	border: none;
 	border: none;
 	border-bottom: 1px solid;
 	width: 400px;
 	margin-top: 20px;
 	outline: none
 }

 .button {
 	background-color: purple;
 	height: 50px;
 	width: 160px;
 	margin-left: 20px;
 	border: .5px solid white;
 	color: white;
 	cursor: pointer;
 	font-size: 17px;
 }

 .button:hover {
 	opacity: 0.7;
 }

 .sub-btn {
 	background-color: purple;
 	color: white;
 }

 .btn {
 	margin-left: 30px;
 }

 .search-input {
 	border: none;
 	float: right;
 	margin-left: 200px;
 	padding: 5px;
 	width: 600px;
 	outline: none;
 	border-radius: 5px;
 	/* text-align: center; */
 }

 .icon-container {
 	margin-left: 30px;
 }

 .icon-container i {
 	padding: 10px;
 }

 .user {
 	background-color: #e9c4f5;
 	height: 35px;
 	width: 35px;
 	text-align: center;
 	border-radius: 50%;
 	margin-left: 60px;
 }

 .e-button {
 	font-size: 20px;
 }

 .button i {
 	margin: 7px;
 }

 p-dialog i {
 	padding-left: 10px;
 }