<mat-toolbar class="mat-bar">
  <mat-toolbar-row class="header">
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <button mat-button class="e-button"><i class="fa-sharp fa-solid fa-envelopes-bulk"></i>Email</button>
    <input class="search-input" type="search" placeholder="search mail">
    <div class="icon-container">
      <i class="fa-solid fa-gear"></i>
      <i class="fa-sharp fa-solid fa-circle-question"></i>
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="user">
      <i class="fa-solid fa-user"></i>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <div>
        <a routerLink="/inbox" routerLinkActive="active">
          <button class="button" routerLink="inbox" routerLinkActive="routerActive"><i
              class="fa-solid fa-envelope"></i>Inbox</button>
        </a>
      </div>
      <div>
        <button class="button" routerLink="sent" routerLinkActive="routerActive"><i
            class="fa-solid fa-envelope-circle-check"></i>Sent</button>
      </div>
      <div><a>
          <button routerLink="draft" routerLinkActive="routerActive" class="button"><i
              class="fa-solid fa-file"></i>Draft</button>
        </a>
      </div>
      <div>
        <button class="button" (click)="showPositionDialog('bottom-right')"><i
            class="fa-solid fa-plus"></i>Create</button>
      </div>
    </mat-list>
    <p-dialog header=" Create a New Message" [(visible)]="displayPosition" [position]="position" [modal]="true"
      id="dialog-form" [style]="{width: '35vw', height:'500px'}" [draggable]="false" [resizable]="false">
      <form #mailForm="ngForm" [formGroup]="createForm">
        <input class="input" type="text" name="to" [(ngModel)]="dataObj.to" class="form-control"
          style="border: none; border-bottom: 1px solid; width: 400px; margin-top: 20px; outline: none;"
          placeholder="To" formControlName="to" required>
        <input class="input" type="text" name="subject" [(ngModel)]="dataObj.subject"
          style="border: none; border-bottom: 1px solid; width: 400px; margin-top: 20px; outline: none;"
          class="form-control" placeholder="Subject" formControlName="subject" required>
        <textarea name="message" [(ngModel)]="dataObj.message" class="form-control"
          style="border:none; outline: none; height: 210px; width: 400px; margin-top: 20px;" formControlName="message"
          required></textarea>
      </form>
      <button class="btn" type="button" class="btn btn-primary" (click)="formValid()">Send</button>
      <button class="btn1" type="button" (click)="displayPosition=false" class="btn btn-light">Cancel</button>
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-solid fa-link-simple"></i>
      <i class="fa-regular fa-face-smile"></i>
      <i class="fa-regular fa-image"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </p-dialog>
  </mat-sidenav>
  <mat-sidenav-content>
    <p-dialog header="Title" [visible]="false">content</p-dialog>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<p-dialog header="Title" [visible]="false">content</p-dialog>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
</div>
<app-footer></app-footer>